---
---
<!DOCTYPE HTML>
<head>
 <title>{{ site.title }}</title>
{% include head.html %}
</head>

<body>
<div class="container">
{% include nav.html %}

<div id="headerImage" class="sixteen columns">
  <img src="/images/cropped-hdr-perth.jpg" alt="Colonnade at the university in Perth, Australia" title="Photo by R. Punzalan, 2008"/>
</div>

<div id="welcome" class="sixteen columns">
  <h1>Built with Skeleton</h1>
  <p>This page was built for Design Shack using Skeleton, an awesome framework for building responsive web pages...</p>
</div>

<div class="one-third column feature">
  <h2>One</h2>
  <img src="" alt="none"/>
  <p>Lorem ipsum dolor amet ...</p> 
</div>

<div class="one-third column feature">
  <h2>Two</h2>
  <img src="" alt="none"/>
  <p>Lorem ipsum dolor amet ...</p> 
</div>

<div class="one-third column feature">
  <h2>Three</h2>
  <img src="" alt="none"/>
  <p>Lorem ipsum dolor amet ...</p> 
</div>

<div class="sixteen columns">
  <p>You're viewing index.html. Here is an attempt to generate a list of content formatted as "post":</p>

<ul>
 {% for x in site.posts %}
 <li>
  <a href="{{ x.url }}">{{ x.title }}</a>
 </li>
 {% endfor %}
</ul>

<h3>Font test</h3>
<ul>
<li>&ldquo;Radio Brno, the Brněnsk&yacute; kr&uacute;žek (Brno Circle) and Folk Creativity in Moravia.&rdquo; Czech and Slovak Music and Related Arts conference, Grand Valley State University, Allendale, Michigan.
<li>&ldquo;Instrumental Roots: The Dulcimer in the Baca Band.&rdquo; Fourth International Musicology Colloquium, N&aacute;měšť nad Olšavou, Czech Republic.
<li>&ldquo;&lsquo;People&rsquo;s Music&rsquo; and Modernism: Leoš Jan&aacute;ček and Folkloric Performance.&rdquo; Association for the Advancement of Slavic Studies, New Orleans, Louisiana. **Awarded the Louise Cuyler prize by the Department of Musicology, University of Michigan**
</ul>
</div>

{% include footer.html %}

</div><!-- end .container -->
</body>
</html>